@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
.thank-you .container-5, .step-4 .container-4, .step-3 .container-3, .step-2 .container-2, .step-1 form {
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 30px 20px;
  width: 90%;
  margin: 0 auto;
}
.thank-you .container-5 header h1, .step-4 .container-4 header h1, .step-3 .container-3 header h1, .step-2 .container-2 header h1, .step-1 form header h1 {
  color: hsl(213, 96%, 18%);
  font-size: 30px;
}
.thank-you .container-5 header p, .step-4 .container-4 header p, .step-3 .container-3 header p, .step-2 .container-2 header p, .step-1 form header p {
  color: hsl(231, 11%, 63%);
  font-size: 15px;
  margin: 15px 0 20px;
  line-height: 1.4rem;
}

.thank-you, .step-4, .step-3, .step-2, .step-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 7rem;
  width: 100%;
}

.nav {
  background-color: hsl(231, 100%, 99%);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  margin-top: auto;
}
.nav button {
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}
.nav button:hover {
  background-color: #03418c;
}
.nav .back {
  background: transparent;
  color: hsl(231, 11%, 63%);
}
.nav .back:hover {
  background: transparent;
  color: hsl(213, 96%, 18%);
}
.nav .confirm {
  background-color: hsl(243, 100%, 62%);
}
.nav .confirm:hover {
  background-color: #7770ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(215, 100%, 97%);
  font-family: "Ubuntu", sans-serif;
}

.sidebar {
  background: url(/assets/images/bg-sidebar-mobile.svg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12rem;
}
.sidebar .step {
  margin: 2.3rem 1rem 0 0;
}
.sidebar .step button {
  background: transparent;
  color: hsl(231, 100%, 99%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border: 1.5px solid hsl(229, 24%, 87%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.sidebar .step button.focus {
  background-color: hsl(229, 24%, 87%);
  color: hsl(213, 96%, 18%);
}
.sidebar .step .about {
  display: none;
}

.step-1.hidden {
  display: none;
}
.step-1 form .form-control .title-error {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.step-1 form .form-control .title-error small {
  color: hsl(354, 84%, 57%);
  visibility: hidden;
  font-size: 12px;
}
.step-1 form .form-control.error input {
  border: 1.5px solid hsl(354, 84%, 57%);
}
.step-1 form .form-control.error small {
  visibility: visible;
}
.step-1 form label {
  display: block;
  color: hsl(213, 96%, 18%);
}
.step-1 form input {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1.2px solid hsl(229, 24%, 87%);
  margin-bottom: 20px;
  outline: 0;
  cursor: pointer;
}
.step-1 form input::-moz-placeholder {
  color: hsl(213, 96%, 18%);
}
.step-1 form input::placeholder {
  color: hsl(213, 96%, 18%);
}
.step-1 form input:hover {
  border: 1.3px solid hsl(213, 96%, 18%);
}
.step-1 .back {
  visibility: hidden;
}

.step-2.hidden {
  display: none;
}
.step-2 .container-2 .plans.monthly .year {
  display: none;
}
.step-2 .container-2 .plans.monthly small {
  display: none;
}
.step-2 .container-2 .plans.yearly .month {
  display: none;
}
.step-2 .container-2 .plans .plan {
  color: hsl(213, 96%, 18%);
  display: flex;
  border: 1.5px solid hsl(229, 24%, 87%);
  padding: 20px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.step-2 .container-2 .plans .plan.focus {
  background-color: hsl(217, 100%, 97%);
  border: 1.5px solid hsl(213, 96%, 18%);
}
.step-2 .container-2 .plans .plan img {
  margin-bottom: auto;
  margin-right: 15px;
}
.step-2 .container-2 .plans .plan .plan-cal {
  display: flex;
  flex-direction: column;
}
.step-2 .container-2 .plans .plan .plan-cal span {
  color: hsl(231, 11%, 63%);
}
.step-2 .container-2 .switcher {
  display: flex;
  justify-content: space-between;
  background-color: hsl(217, 100%, 97%);
  padding: 20px 35px;
  border-radius: 8px;
  margin-top: 25px;
}
.step-2 .container-2 .switcher.month .yr {
  color: hsl(231, 11%, 63%);
}
.step-2 .container-2 .switcher.month .toggle .indicator {
  transition: 0.5s;
}
.step-2 .container-2 .switcher.year .mn {
  color: hsl(231, 11%, 63%);
}
.step-2 .container-2 .switcher.year .toggle .indicator {
  left: 29px;
  transition: 0.5s;
}
.step-2 .container-2 .switcher .toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 21px;
  border-radius: 160px;
  background-color: hsl(213, 96%, 18%);
  cursor: pointer;
}
.step-2 .container-2 .switcher .toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  transform: scale(0.7);
}

.step-3.hidden {
  display: none;
}
.step-3 .container-3 .add-ons.monthly .year {
  display: none;
}
.step-3 .container-3 .add-ons.yearly .month {
  display: none;
}
.step-3 .container-3 .add-ons .select-add-ons {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
  padding: 15px;
  border: 1.3px solid hsl(229, 24%, 87%);
  border-radius: 8px;
  cursor: pointer;
}
.step-3 .container-3 .add-ons .select-add-ons.focus {
  border: 1.5px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.step-3 .container-3 .add-ons .select-add-ons input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.step-3 .container-3 .add-ons .select-add-ons h2 {
  color: hsl(213, 96%, 18%);
  font-size: 16px;
}
.step-3 .container-3 .add-ons .select-add-ons p {
  color: hsl(231, 11%, 63%);
  font-size: 13px;
}
.step-3 .container-3 .add-ons .select-add-ons .amountx {
  margin-left: auto;
}
.step-3 .container-3 .add-ons .select-add-ons .amountx span {
  color: hsl(243, 100%, 62%);
  font-size: 12px;
}

.step-4.hidden {
  display: none;
}
.step-4 .container-4 .summary {
  background-color: hsl(217, 100%, 97%);
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
}
.step-4 .container-4 .summary .summary-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: hsl(213, 96%, 18%);
}
.step-4 .container-4 .summary .summary-main.monthly .year {
  display: none;
}
.step-4 .container-4 .summary .summary-main.yearly .month {
  display: none;
}
.step-4 .container-4 .summary .summary-main .change {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
.step-4 .container-4 .summary .summary-main span {
  font-weight: 700;
}
.step-4 .container-4 .summary hr {
  border: 0.1px solid hsl(229, 24%, 87%);
}
.step-4 .container-4 .summary .summary-main-child .summary-child {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}
.step-4 .container-4 .summary .summary-main-child .summary-child p {
  color: hsl(231, 11%, 63%);
  font-size: 15px;
}
.step-4 .container-4 .summary .summary-main-child .summary-child span {
  color: hsl(213, 96%, 18%);
  font-size: 12px;
}
.step-4 .container-4 .summary-total {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 13px;
}
.step-4 .container-4 .summary-total.monthly .year {
  display: none;
}
.step-4 .container-4 .summary-total.yearly .month {
  display: none;
}
.step-4 .container-4 .summary-total p {
  color: hsl(231, 11%, 63%);
}
.step-4 .container-4 .summary-total .total {
  font-weight: 700;
  color: hsl(243, 100%, 62%);
}

.thank-you.hidden {
  display: none;
}
.thank-you .container-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 80px;
}
.thank-you .container-5 h1 {
  margin: 20px;
  color: hsl(213, 96%, 18%);
}
.thank-you .container-5 p {
  color: hsl(231, 11%, 63%);
  line-height: 1.5rem;
  text-align: center;
}

@media (min-width: 500px) {
  main .step-4 .container-4, main .step-3 .container-3, main .step-2 .container-2, main .step-1 form {
    width: 28rem;
  }
  main .step-4 .container-4 header h1, main .step-3 .container-3 header h1, main .step-2 .container-2 header h1, main .step-1 form header h1 {
    font-size: 35px;
  }
  main .step-4 .container-4 header p, main .step-3 .container-3 header p, main .step-2 .container-2 header p, main .step-1 form header p {
    font-size: 17px;
  }
  main .step-1 form .form-control .title-error label {
    font-size: 17px;
  }
  main .step-1 form .form-control input {
    padding: 16px;
    font-size: 18px;
  }
  main .step-1 form .form-control input::-moz-placeholder {
    font-size: 15px;
  }
  main .step-1 form .form-control input::placeholder {
    font-size: 15px;
  }
}
@media (min-width: 650px) {
  main .step-4 .container-4, main .step-3 .container-3, main .step-2 .container-2, main .step-1 form {
    width: 35rem;
  }
}
@media (min-width: 850px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  main .thank-you .container-5, main .step-4 .container-4, main .step-3 .container-3, main .step-2 .container-2, main .step-1 form {
    margin-top: 20px;
    position: initial;
    transform: none;
    width: 30rem;
    padding: 24px 50px 0 0;
  }
  main .thank-you .container-5 header h1, main .step-4 .container-4 header h1, main .step-3 .container-3 header h1, main .step-2 .container-2 header h1, main .step-1 form header h1 {
    font-size: 30px;
  }
  main .thank-you .container-5 header p, main .step-4 .container-4 header p, main .step-3 .container-3 header p, main .step-2 .container-2 header p, main .step-1 form header p {
    font-size: 16px;
  }
  main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 8px;
    padding: 10px;
    height: 35rem;
  }
  main aside .sidebar {
    background: url(/assets/images/bg-sidebar-desktop.svg) no-repeat center center/cover;
    position: unset;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 18rem;
    padding-left: 25px;
    margin-right: 80px;
  }
  main aside .sidebar .step {
    display: flex;
    gap: 12px;
  }
  main aside .sidebar .step .about {
    display: block;
  }
  main aside .sidebar .step .about span {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
  }
  main aside .sidebar .step .about p {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
  }
  main .step-1 {
    position: initial;
  }
  main .step-1 form .form-control .title-error label {
    font-size: 15px;
  }
  main .step-1 form .form-control input {
    padding: 12px;
  }
  main .step-2 {
    position: initial;
  }
  main .step-2 .container-2 .plans {
    display: flex;
    gap: 15px;
  }
  main .step-2 .container-2 .plans .plan {
    flex-direction: column;
    width: 10rem;
    cursor: pointer;
  }
  main .step-2 .container-2 .plans .plan img {
    width: 50px;
  }
  main .step-2 .container-2 .plans .plan .plan-cal {
    margin-top: 30px;
  }
  main .step-2 .container-2 .plans .plan .plan-cal h2 {
    font-weight: 500;
    font-size: 17px;
  }
  main .step-2 .container-2 .switcher {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 15px 30px;
  }
  main .step-3 {
    position: initial;
  }
  main .step-3 .container-3 .add-ons {
    margin: 30px 0 50px 0;
  }
  main .step-4 {
    position: initial;
  }
  main .step-4 .container-4 .summary {
    margin-top: 40px;
  }
  main .step-4 .container-4 .summary-total {
    margin-bottom: 60px;
  }
  main .nav {
    position: initial;
    padding-right: 50px;
    background: transparent;
  }
  main .nav button {
    font-size: 17px;
    padding: 12px 20px;
  }
  main .thank-you {
    position: initial;
    display: flex;
    align-items: center;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}