%main {
  background: $White;
  border-radius: 10px;
  padding: 30px 20px;
  width: 90%;
  margin: 0 auto;

  header {
    h1 {
      color: $Marine-blue;
      font-size: 30px;
    }
    p {
      color: $Cool-gray;
      font-size: 15px;
      margin: 15px 0 20px;
      line-height: 1.4rem;
    }
  }
}

%okay {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 7rem;
  width: 100%;
}

%nav {
  background-color: $Alabaster;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  margin-top: auto;

  button {
    background-color: $Marine-blue;
    color: $White;
    font-family: $fonty;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;

    &:hover {
      background-color: lighten($Marine-blue, 10%);
    }
  }
  .back {
    background: transparent;
    color: $Cool-gray;

    &:hover {
      background: transparent;
      color: $Marine-blue;
    }
  }
  .confirm {
    background-color: $Purplish-blue;
  &:hover{
    background-color: lighten($Purplish-blue,  10%);
  }
  }
}
